/* General */

* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}


/* Header */

.header {
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 100%;
    
}

.header img {
    float: left;
    padding-left: 10px;
    padding-top: 5px;
    height: 50px;
}

.nav a {
    float: right;
    padding-right: 30px;
    padding-top: 15px;
}

.nav a:hover {
    text-decoration: none;
}

/* Main */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.item {
 border: 20px solid brown;
}

.main {
  height: 700px;
  position: relative;
}

/* Section One  */

.text-block {
    position: absolute;
    top: 350px;
    right: 0px;
    width: 100%;
   text-align: center;
}

